body{font-family:sans-serif;background:#f2f2f2;}
.center-box{text-align:center;margin-top:80px;}
button{width:220px;padding:12px;margin:10px;font-size:18px;border-radius:8px;}
.card{background:white;padding:20px;border-radius:12px;max-width:350px;margin:60px auto;}
.tabla-pronosticos{width:100%;border-collapse:collapse;}
.tabla-pronosticos th{background:#333;color:white;padding:6px;}
.tabla-pronosticos td{border:1px solid #ccc;padding:4px;text-align:center;}
.tabla-pronosticos input{width:40px;text-align:center;}